@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Back</h1>

    
    <p>User Id : @ViewData["UserID"]</p>

    <p>To fetch user Data Click on your email at top most right corner</p>
</div>
